<div id="blue">
    <div class="container">
        <div class="row">
            <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>
            <div>
                <csmall style="margin-left: 20px;"></csmall>
                <span style="word-break: break-word"> 
                <span> On {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }} | </span>
                <span>{% include share_this.html %}</span>
                </span>
            </div>
            <!-- <csmall style="margin-left: 20px;"></csmall> -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /blue -->
<!-- <h3>{% if page.wrap_title %}{{ page.wrap_title }}{% else %}{{ page.title }}{% endif %}</h3> -->