---
layout: default
---

{% include wrap_post.html %}
<div class="container mtb">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-9">
            <! -- Blog Post  -->
            {% if page.img != "NA" %}
            <p><img class="img-responsive postImg" src="{{ "/assets/img/shared/" | prepend: site.baseurl }}{{ page.img }}" alt=""></p>
            {% endif %}
            <!--
            <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>
            <p><csmall>{{ page.date | date: "%b %-d, %Y" }}. | By: {{ page.author }}</csmall></p>
            -->  
            {{ content }}

            <div class="spacing"></div>
            <span>Share : {% include share_this.html %}</span>
            <!--
            <h6>SHARE:</h6>
            <p class="share">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-tumblr"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>		 		
            </p>
            -->
            {% if page.postDisclaimmer != "NA" %}
            <hr/> <csmall><strong>Note : </strong>{{page.postDisclaimmer}}</csmall>
            {% endif %}
            {% if page.title != "404: Page not found" %}
            {% include commenting.html %}
            {% endif %}
        </div><! --/col-lg-9 -->
        
        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->